body {
  height: 4000px;
}
.banner {
  height: 400px;
  background-image: url(../img/banner-image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.section-2 {
  text-align: center;
  background: #fff;
}
.section-2 .col-12 {
  /* position: relative;
  bottom:2rem; */
  position: relative;
  bottom: 8rem;
  z-index: 3;
}

.section-2 .circle {
  width: 250px;
  height: 250px;
  background: #fff;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 50%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  /* 
  position: absolute;
  top: 0  ;
  left: 0;
  right: 0;
  bottom: 50px; */
}
.section-2 .circle img {
  width: 100px;
  height: 100px;
  margin-bottom: 1rem;
}
.section-2 .circle h5 {
  text-transform: uppercase;
  color: #4b575f;
  font-size: 18px;
}
.section-2 .social_media {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.section-2 .social_media a {
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
}
.section-2 .social_media .fa-facebook-f {
  color: #3b5998;
}
.section-2 .social_media .fa-twitter {
  color: #1da1f2;
}
.section-2 .social_media .fa-google-plus-g {
  color: #e1306c;
}
.section-2 .social_media .fa-linkedin-in {
  color: #0077b5;
}

/* ***** MAIN  **** */
.main {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: #f9f9f9;
}
.main_container {
  flex: 5;
}
.main_aside {
  flex: 2;
}

.card {
  padding: 20px;
  background: #fff;
}
.card_body .img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.card_text_wrapper {
  display: flex;
  gap: 10px;
}
.card_text_wrapper p {
  margin: 10px;
}
.card_body .card_title {
  font-size: 20px;
  font-weight: bold;
  color: #4b575f;
}
.card_body .card_desc {
  letter-spacing: 1px;
}
.card_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card_footer .btn {
  background: #a25b48;
  color: #fff;
  text-transform: capitalize;
}
.card_footer ._share {
  display: flex;
  align-items: center;
}
.card_footer ._share p {
  margin: 0;
  margin-right: 10px;
}
.card_footer ._share .fab {
  text-decoration: none;
  margin:0 5px;
}
